@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Truculenta:opsz,wght@12..72,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Truculenta';
    gap: 40px;
    flex-direction: column;   
}

#logo{
    display: flex;
    background-color:rgb(252, 234, 248);
    width: 100%;
    height: 80px;
    justify-content: space-around;
    align-items: center;   
}

.items{
    display: flex; 
    gap: 80px;
        
}

.menu li{
    display: inline-block;
    margin: 0 30px;
    background-color: #2192ff;
    border-radius: 7px;   
}
.menu li a{
    text-decoration: none;
    color: white;
    padding: 15px 15px;    
}
.menu li a:hover{
    background-color: purple;  
    padding: 0px 15px;  
    border-radius: 15px;  
}

.card {
    background-color: rgb(252, 234, 248);
    width: 120px; 
    height: 350px;
    border-radius: 12px;
    box-shadow: 12px 12px 12px rgb(211, 120, 173);
    align-items: center;
    justify-content: center;    
    text-align: center;       
}

.card img {
    width: 100%; height: 130px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card h1 {
    font-size: 1.2rem;
    padding: 10px;
}

.card h2{
    font-size: .9rem;
    color: purple;
    padding: 10px;
}

.card button{
    background-color: #2192ff;
    height: 30px;
    border: none;
    padding: 4px;
    width: 80%;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
}

.card button:hover{
    background-color: #054683;
    color: white;
    cursor: pointer;
}
footer{
    display: flex; 
    gap: 20px;
    align-items:center;
    justify-content: center;    
    text-align: center; 
    flex-direction: column; 
    
    
}
footer img{
    height: 40px;    
    
}
 .socialmedia{
    display: flex;
    gap: 80px; 
    
}

.media {
    cursor: pointer;
    border: none;
}
